<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ambisonicReverb~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ambisonicToBinaural~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>binaural~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>decoder~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>encoder~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>wavPlayer~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>592EB448189655750058600A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5938486118D7768A00267F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593EA74618ED7BF900F909F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5985424018957633006F67DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59DA84EC189BA228007699EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59E5F72C189449BC00731CBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
